body{
  margin:0px;
}
#grid ol{
  margin:0px;
  border-right:1px solid grey;
  width:100px;
  padding-left:33px;
  padding-top: 20px;
}
a {
  color:black;
  text-decoration:none;
}
h1 {
  padding:20px;
  margin:0px;
  border-bottom:1px solid grey;
  font-size: 45px;
  text-align: center;
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
@media(max-width:800px){
  #grid{
    display: block;
  }
  #grid ol{
    border-right:none;

  }
  h1{
    border-bottom:none;
  }
  h2{
    text-align:center
  }
}
a {
  color:purple;
}
